@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<script>
    
    var client = new XMLHttpRequest();
    client.onload = function (response) {
        var jsonDate = JSON.parse(this.responseText);
        console.log(jsonDate);

        console.log(printDate(jsonDate.PDate));

        console.log(jsonDate.PPrice.toFixed(2));
    }
    client.open('POST', '/Home/GZPost/4', true);
    client.send();


    function printDate(value) {
        var dateValue = new Date(value);
        return printDateItem(dateValue.getDate()) + '.' +
               printDateItem(dateValue.getMonth() + 1) + '.' +
               printDateItem(dateValue.getFullYear());
    }

    function printDateItem(i) {
        return (i < 10) ? "0" + i : "" + i;
    }
</script>