@{
    ViewBag.Title = "Index";
}
<h2></h2>
 <p>@ViewBag.DBTestMessage</p>
<div id="postItem"></div>
<script>
    $(document).ready(function () {
        storeApi.GetPost(4, 'postItem', createHtmlPost);
    });

    function createHtmlPost(elementId, jsonData) {
        var htmlElement = document.getElementById(elementId);
        if (htmlElement != null) {
            htmlElement.innerHTML =
            '<a href="' + jsonData.PLink + '" >' +
                    '<div>' + jsonData.PTitle + '</div>' +
                    '<div><img src="' + jsonData.PImage + '"/></div>' +

                    '<div>' + jsonData.PText + '</div>' +
                    '<div>' + printDate(jsonData.PDate) + '</div>' +
                    '<div>' + jsonData.PPrice.toFixed(2) + '</div>' +
                '</a>';
        }
        // console.log(jsonData);
    }
</script>